<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{resumenPaciente.nombre}}</h5>
    <span class="card-text">Clínica: {{resumenPaciente.clinica}}</span>
    <span class="card-text">Objetivo Tratamiento: {{resumenPaciente.objetivo_tratamiento}}</span>
    <span class="card-text">Estado: {{resumenPaciente.estado}}</span>
    <div class="card-body-buttons">
    <button class="btn btn-success">Editar</button>
    <button class="btn btn-primary">Finalizar</button>
    <button class="btn btn-danger">Borrar</button>
  </div>
  </div>
</div>
